<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Ding" Language="1033" Version="$(var.Version)"
           Manufacturer="YourCompany" UpgradeCode="12345678-1234-1234-1234-1234567890ab">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />
    
    <!-- License agreement UI -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <UIRef Id="WixUI_Minimal" />

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Ding" />
      </Directory>
    </Directory>

    <!-- Components -->
    <Feature Id="MainFeature" Title="Ding" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="DingExe" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <File Id="DingExeFile" Source="$(var.SourcePath)\ding.exe" KeyPath="yes" />
      </Component>
      <Component Id="DingIcon" Guid="b2c3d4e5-f678-9012-bcde-f12345678901">
        <File Id="DingIconFile" Source="$(var.SourcePath)\ding.ico" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>